body
  font-family: Arial, sans-serif
  background: #eee

  header
    background: #D82B6B
    color: #fff
  footer
    background: #AA2600
    color: #fff
    padding-bottom: 1em

  .main
    background: #fff
    padding-bottom: 1em

  .events-blob
    background: #FF9D81
    height: 400px
    padding: 1em
  .forum-blob
    background: #BE68CA
    height: 350px
    padding: 1em
  .lunch
    background: #940037
    height: 10em
    padding: 1em
    color: #fff

  [class|=photo]
    height: 300px
    padding: 1em
    color: #fff
  .photo-1
    background: #7E098E
  .photo-2
    background: #F85E31
  .photo-3
    background: #E24D84
