body
  font-family: Arial, sans-serif
  background: #eee

  a
    color: #D9390B

  header
    background: #D82B6B
    color: #fff
  footer
    background: #AA2600
    color: #fff
    padding-bottom: 1em

  .bump
    padding-top: 1em

  .main
    background: #fff
    padding-bottom: 1em

  .events-blob
    background: #FF9D81
    height: 400px
    padding: 1em
    .addEventLink
      clear: both
      float: right
  .forum-blob
    background: #BE68CA
    height: 350px
    padding: 1em

  .lunches
    margin-top: 2em
  [class|=lunch]
    padding: .5em
    padding-right: 0
    ul
      margin: 0
      padding: .5em 0 0 1em
    h4
      margin: 0
  .lunch-1, .lunch-4
    border-left: 3px solid #940037
  .lunch-2, .lunch-5
    border-left: 3px solid #F85E31
  .lunch-3, .lunch-6
    border-left: 3px solid #A33FB1

  .join-lunch
    padding-top: 1.4em

  .twitter-feed
    padding-top: 1em
